.main-form {
  width: 25%;
  height: 35%;
}

@media (max-width: 992px) {
  .main-form {
    width: 50%
  }
}

@media (max-width: 576px) {
  .main-form {
    width: 75%;
  }
}

.login-header {
  font-family: 'Lucida Handwriting';
}